<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>

<body>
  <div><%- include('../partials/navbar'); %></div>
  <div class="content">
    <h1>About</h1>
    <p>This is an open source project made with Express and MongoDB.
      If usage increases or someone is interested, I could upgrade the system to use AWS S3 Buckets and make this a far better service.
      But for the moment it only has a free plan with limited space and limit speed transfer.

      Hope you enjoy :)</p>
  </div>
</body>

</html>