<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body>
    <div><%- include('../partials/navbar'); %></div>
    <div class="content">
        <h1>Contact</h1>
        <p>If you want to get a custom plan (for now anything more than Free Tier), you can contact me any time in noelcabus01@gmail.com</p>
    </div>
</body>

</html>