<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>
<style>
  pre {
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 5px;
  }
</style>

<body>
  <div><%- include('../partials/navbar'); %></div>
  <div class="content">
    <h1>Getting started</h1>
    <p>The first step is create an account <a href="/register">here</a></p>
    <p>Then you have two options, you can upload the files directly from the <a href="/dashboard">dashboard</a> or you can use the <a href="/dashboard?c=3">token generator</a> to get an API Key and upload your files programatically.</p>
    <p>Keep in mind that once you've generated a token, you have to store it somewhere safe, because it wont be visible ever again. You'll have to <a href="#tokenRegeneration">regenerate</a> it to get it again.</p>

    <h2>Basic POST</h2>
    <p>For the moment, the only way to upload a file (that is not from the dashboard) is via POST request, this can be achieved by most languages/frameworks</p>
    <pre>
      <code>
        curl --location 'https://img.capicua.org.es/api/file/upload/' --header 'Authorization: API_TOKEN' --form 'file=@"path/to/file"'
      </code>
    </pre>

    <h2>Basic GET</h2>
    <p>You can also get the file that has been posting via its id from this</p>
    <pre>
      <code>
        curl --location 'https://img.capicua.org.es/api/file/{FILE_UUID}'
      </code>
    </pre>

    <h2 id="tokenRegeneration">Token Regeneration</h2>
    <p>For security reasons you can only view the token the first time. After that, you'll have to regenerate it every time you dont have it, making the previous token obsolete.</p>
  </div>
</body>

</html>