<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body>
    <div><%- include('../partials/navbar'); %></div>
    <h1>
        <%= status %>
    </h1>
    <h6>
        <%= message %>
    </h6>
</body>

</html>