<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body>
    <div><%- include('../partials/navbar'); %></div>
    <div class="content d-flex flex-column align-items-center justify-content-center h-100">
        <h1>
            <%= status %>
        </h1>
        <h6 class="mb-5">
            <%= message %>
        </h6>
        <input class="btn btn-primary mt-5" action="action" onclick="window.history.go(-1); return false;" type="submit" value="Go back" />
    </div>
</body>

</html>