<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>

<body>
  <div><%- include('../partials/navbar'); %></div>
  <div class="content h-75">
    <div class="d-flex flex-column align-items-center justify-content-center h-100">
      <h1>Serve all your images from a centralized site</h1>
      <h4>One API. One Library. One Service.</h4>
      <div class="mt-5">
        <a class="btn btn-primary px-5" href="/docs">Start!</a>
      </div>
    </div>
  </div>
</body>

</html>